<section class="bg-displaced-wrap" style="margin-bottom: 300px;">
    <div class="bg-displaced-body">
        <div class="container">
            <div class="inset-xl-left-70 inset-xl-right-70">
                <article class="box-cart bg-ebony-clay">
                    <div class="box-cart-image"><img src="../../../assets/images/home-2-342x338.png" alt="" width="342"
                            height="338" />
                    </div>
                    <div class="box-cart-body">
                        <blockquote class="blockquote-complex blockquote-complex-inverse">
                            <h3>Un poco sobre nosotros</h3>
                            <p>
                                <q>Somos un despacho especializado en asuntos juridicos en materia laboral, 
                                    familiar y mobiliaria, con representación en la mayor parte de la republica 
                                    mexicana por medio de enlaces y gestoria a distancia con otros despachos jurídicos.</q>
                            </p>
                            <div class="quote-footer">
                                <cite>Lic. Ismael Ariel Roaro Gárate y asociados</cite><small>- Roaro&Asociados</small>
                            </div>
                        </blockquote>
                        <div class="button-wrap inset-md-left-70"><a
                                class="button button-responsive button-medium button-primary-outline-v2"
                                href="#">Realizar una cita</a></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="bg-displaced bg-image" style="background-image: url(../../../assets/images/home-1.jpg);"></div>
</section>
