<section class="section parallax-container bg-black" data-parallax-img="../../../assets/images/clients-testimonials-parallax-1.jpg">
    <div class="parallax-content">
        <div class="section-60 section-md-90 section-xl-120">
            <div class="container text-center">
                <div class="row row-40 justify-content-lg-center">
                    <div class="col-sm-12">
                        <h3>Lo que dice la gente</h3>
                    </div>
                    <div class="col-lg-11 col-xl-9">
                        <div class="owl-carousel-inverse">
                            <div class="owl-carousel owl-nav-position-numbering" data-autoplay="true" data-items="1"
                                data-stage-padding="0" data-loop="false" data-margin="30" data-nav="true"
                                data-numbering="#owl-numbering-1" data-animation-in="fadeIn"
                                data-animation-out="fadeOut">
                                <div class="item">
                                    <blockquote class="quote-minimal quote-minimal-inverse">
                                        <div class="quote-body">
                                            <p>
                                                <q>Estamos muy satisfechos con nuestra experiencia con LawExpert. Aunque
                                                    en realidad no fuimos a la corte, sentí que Amanda estaba más que
                                                    lista para dar lo mejor de sí por nosotros. Toda nuestra experiencia
                                                    con todo el personal fue muy fácil y agradable. ¡Gracias por tu
                                                    trabajo!</q>
                                            </p>
                                        </div>
                                        <div class="quote-meta">
                                            <cite>marca wilson</cite>
                                            <p class="caption">Cliente</p>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote class="quote-minimal quote-minimal-inverse">
                                        <div class="quote-body">
                                            <p>
                                                <q>Estoy muy contento de haber elegido el bufete de abogados LawExpert
                                                    para que nos represente. Tuvimos un accidente de motocicleta muy
                                                    grave. Nos trataron como familia y nos mantuvieron involucrados en
                                                    cada paso del camino. ¡Gracias a todos los que estuvieron
                                                    involucrados de una forma u otra trabajando en nuestro caso!</q>
                                            </p>
                                        </div>
                                        <div class="quote-meta">
                                            <cite>kate wilson</cite>
                                            <p class="caption">Cliente</p>
                                        </div>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote class="quote-minimal quote-minimal-inverse">
                                        <div class="quote-body">
                                            <p>
                                                <q>John y su personal fueron geniales al hacernos sentir cómodos durante
                                                    el proceso. Nos mantuvieron informados sobre el progreso de nuestro
                                                    caso y fueron muy útiles con todo el papeleo que necesitábamos
                                                    completar. Estamos muy contentos con el resultado de todo.</q>
                                            </p>
                                        </div>
                                        <div class="quote-meta">
                                            <cite>Sam Cole</cite>
                                            <p class="caption">Cliente</p>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="owl-numbering owl-numbering-default" id="owl-numbering-1">
                                <div class="numbering-current"></div>
                                <div class="numbering-separator"></div>
                                <div class="numbering-count"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-whisper" style="margin-bottom: 30px;">
    <div class="container">
        <div class="row align-items-lg-end">
            <div class="offset-md-1 offset-lg-0 col-md-8 col-lg-6 col-xl-5">
            <div class="section-60 section-md-90">
                <div class="inset-md-left-100">
                <h3>¿Por qué elegirnos?</h3>
                </div>
                <div class="inset-md-left-30 inset-md-right-30">
                <ul class="list-xl">
                    <li>
                    <article class="icon-box-horizontal">
                        <div class="unit unit-horizontal unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-users"></span></div>
                        <div class="unit-body">
                            <h5><a href="#">Creencias</a></h5>
                            <p style="text-align: justify;">
                                Consideramos que tanto asociados como nuestros clientes son parte de nuestra familia, y buscamos atenderlos dandole la importancia que este conlleva. Realmente creemos que cada caso impacta de forma considerable en las personas es ahí donde radica la importancia de lo que hacemos.
                            </p>
                        </div>
                        </div>
                    </article>

                    </li>
                    <li>
                    <article class="icon-box-horizontal">
                        <div class="unit unit-horizontal unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-lib"></span></div>
                        <div class="unit-body">
                            <h5><a href="#">Experiencia</a></h5>
                            <p style="text-align: justify;">
                                La experiencia de nuestra trayectoria habla por si sola, con una experiencia con más de 10 años en práctica legal.
                            </p>
                        </div>
                        </div>
                    </article>

                    </li>
                    <li>
                    <article class="icon-box-horizontal">
                        <div class="unit unit-horizontal unit-spacing-md">
                        <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg mercury-icon-briefcase"></span></div>
                        <div class="unit-body">
                            <h5><a href="#">Resultados</a></h5>
                            <p style="text-align: justify;">
                                Los resultados solo son exitosos cuando hacemos una diferencia en su vida. Es nuestro objetivo ayudarle a obtener el mejor resultado acorde a sus necesidades.
                            </p>
                        </div>
                        </div>
                    </article>

                    </li>
                </ul>
                </div>
            </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-7 offset-top-30 offset-md-top-0 d-none d-lg-block">
            <div class="image-wrap-1"><img src="../../../assets/images/about-1-670x578.png" alt="" width="670" height="578"/>
            </div>
            </div>
        </div>
    </div>
</section>