<section>
    <div class="swiper-container swiper-slider swiper-variant-1 bg-black" data-loop="false" data-autoplay="5500" data-simulate-touch="true">
        <div class="swiper-wrapper text-center">
            <div class="swiper-slide" data-slide-bg="../../assets/images/home-slider-slide-1.jpg">
            <div class="swiper-slide-caption text-center">
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                    <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">Con Nosotros</h3>
                    </div>
                    <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">Siempre Este Un Paso Adelante</h2>
                    <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250" style="color: #d0eeff; font-weight: bold;">Las estrategias de nuestros abogados te ayudarán a resolver problemas legales muy complejos.</p>
                    <!-- <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#Citas">Realizar Una Cita</a></div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="swiper-slide" data-slide-bg="./../assets/images/home-slider-slide-2.jpg">
            <div class="swiper-slide-caption text-center">
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                    <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">Ofrecemos</h3>
                    </div>
                    <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">Ayuda Legal Asequible & Efectiva</h2>
                    <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250" style="color: #fcff25; font-weight: bold;">Nuestros equipo profesional de abogados y consultores dispuestos a brindarle la asistencia legal necesaria.</p>
                    <!-- <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#Citas">Realizar Una Cita</a></div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="swiper-slide" data-slide-bg="./../assets/images/home-slider-slide-3.jpg">
            <div class="swiper-slide-caption text-center">
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-11 col-lg-10 col-xl-9">
                    <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                        <h3 class="medium text-primary">Cuente Con</h3>
                    </div>
                    <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">Amplio Soporte Legal</h2>
                    <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250" style="color: #f7c200; font-weight: bold;">Gran experiencia en proporcionar ayuda legal en varias esferas del derecho.</p>
                    <!-- <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#Citas">Realizar Una Cita</a></div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="swiper-scrollbar d-lg-none"></div>
        <div class="swiper-nav-wrap">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>