<section class="section-15 section-md-75 section-lg-100">
    <div class="container">
        <div class="row row-40">
            <div class="col-md-6 col-lg-4 height-fill">
                <!--Articulo1-->
                <article class="icon-box">
                    <div class="box-top">
                      <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-briefcase"></span></div>
                      <div class="box-header">
                        <h5><a href="https://es.wikipedia.org/wiki/Derecho_de_sociedades">Derecho Societario</a></h5>
                      </div>
                    </div>
                    <div class="divider bg-accent"></div>
                    <div class="box-body">
                      <p>El derecho de los negocios se ocupa de la creación de nuevas empresas y los problemas que surgen en las empresas existentes.</p>
                    </div>
                  </article>
            </div>
            <div class="col-md-6 col-lg-4 height-fill">
                <!--Articulo2-->
                <article class="icon-box">
                    <div class="box-top">
                      <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-users"></span></div>
                      <div class="box-header">
                        <h5><a href="https://es.wikipedia.org/wiki/Derecho_de_familia">Derecho Familiar</a></h5>
                      </div>
                    </div>
                    <div class="divider bg-accent"></div>
                    <div class="box-body">
                      <p>Los abogados de derecho de familia ayudan a sus clientes a presentar la separación o el divorcio, la pensión alimenticia o la custodia de los hijos.</p>
                    </div>
                  </article>
            </div>
            <div class="col-md-6 col-lg-4 height-fill">
                <!--Articulo3-->
                <article class="icon-box">
                    <div class="box-top">
                      <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-lib"></span></div>
                      <div class="box-header">
                        <h5><a href="https://es.wikipedia.org/wiki/Derecho_procesal_civil">Derecho Procesal Civil</a></h5>
                      </div>
                    </div>
                    <div class="divider bg-accent"></div>
                    <div class="box-body">
                      <p>El litigio civil es el proceso en el cual se resuelven los asuntos civiles en un tribunal de justicia.</p> 
                    </div>
                  </article>
            </div>
        </div>
    </div>
</section>
