<section class="section-60 section-lg-90 bg-whisper" style="display: flex; justify-content: center; align-items: center;">
    <div class="container">
        <div class="row row-40 align-items-sm-end">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail-variant-2-wrap">
                    <div class="thumbnail thumbnail-variant-2">
                        <figure class="thumbnail-image"><img src="../../../assets/images/team-10-246x300.jpg" alt=""
                                width="246" height="300" />
                        </figure>
                        <div class="thumbnail-inner">
                            <div class="link-group"><span
                                    class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a
                                    class="link-white" href="tel:+52 1 644 413 2633">(+52 1) 644 413 2633</a></div>
                            <div class="link-group">
                                <!-- <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span> -->
                                    <!-- <a class="link-white" href="mailto:#">info@demolink.org</a> -->
                                </div> 
                        </div>
                        <div class="thumbnail-caption">
                            <p class="text-header"><a
                                    href="https://www.facebook.com/people/Sml-consultores-sc/100071562909480/">SML
                                    Consultores SC</a></p>
                            <div class="divider divider-md bg-teak"></div>
                            <p class="text-caption">Socio en Sonora</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail-variant-2-wrap">
                    <div class="thumbnail thumbnail-variant-2">
                        <figure class="thumbnail-image"><img src="../../../assets/images/team-11-246x300.jpg" alt=""
                                width="246" height="300" />
                        </figure>
                        <div class="thumbnail-inner">
                            <div class="link-group"><span
                                    class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a
                                    class="link-white" href="tel:+52 1 556 301 7223">(+52 1) 556 301 7223</a></div>
                            <div class="link-group">
                                <!-- <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a
                                    class="link-white" href="mailto:#">roberto.genaro@asesoriajuriducapenal.com</a> -->
                                </div> 
                        </div>
                        <div class="thumbnail-caption">
                            <p class="text-header"><a href="https://www.facebook.com/rgabogados.asesoriajuridica/">RG
                                    Abogados</a></p>
                            <div class="divider divider-md bg-teak"></div>
                            <p class="text-caption">Socio en la Ciudad de México</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-3 text-center">
                <div class="block-wrap-1">
                    <div class="block-number">06</div>
                    <h3 class="text-normal">Contactos</h3>
                    <p class="h5 h5-smaller text-style-4">-</p>
                    <p style="text-align: justify;">Si usted o su empresa requieren de asesoría o servicios legales
                        calificados, contáctenos hoy mismo para programar una consulta gratuita con uno de nuestros
                        abogados certificados.</p><a
                        class="link link-group link-group-animated link-bold link-secondary" href="#"><span>Más
                            información</span><span
                            class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>