<!-- sobre nosotrs -->

<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(../../../assets/images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Sobre Nosotros</h2>
        </div>
    </div>
</section>

    <!-- quienes somos -->
    
    <section class="section-66 section-md-90 section-xl-bottom-120">
        <div class="container">
            <h3>¿Quienes somos?</h3>
            <div class="row row-40 justify-content-xl-between align-items-lg-center">
                <div class="col-md-6 col-xl-5 text-secondary">
                    <div class="inset-md-right-15 inset-xl-right-0">
                        <p style="text-align: justify;">
                            Consideramos ser la mejor opción en servicios fiscales, laborales y familiares, brindando a nuestros clientes un servicio de calidad que cumple con los estandares de servicio más exigentes, pára eso trabajamos siempre en la actualización de nuestros asociados y verificamos las referencias profesionales de nuestros asociados al interior de la republica con el único objetivo de garantizar de la mejor opción para nuestros clientes.
                        <p style="text-align: justify;">
                            Nuestros valores fundamentales son la integridad, rectitud y la confianza, para asegurar con esto mantenernos en la preferencia de nuestros clientes por medio de cuidar sus intereses.
                        </p>
                        <p style="text-align: justify;">
                            Otras cualidades que nos caracterizan lo son el fomento de la innovación, el trabajo en equipo asi como el desarrollo profesional y personal de forma continua de todos en la firma.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-progress">
                        <li>
                        <p class="animated fadeIn">Derecho de Adopción</p>
                        <div class="progress-bar-js progress-bar-horizontal progress-bar-sisal" data-value="70" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                        </li>
                        <li>
                        <p class="animated fadeIn">Derecho Familiar</p>
                        <div class="progress-bar-js progress-bar-horizontal progress-bar-laser" data-value="54" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                        </li>
                        <li>
                        <p class="animated fadeIn">Derecho Inmobiliario</p>
                        <div class="progress-bar-js progress-bar-horizontal progress-bar-fuscous-gray" data-value="87" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                        </li>
                        <li>
                        <p class="animated fadeIn">Casos de Lesiones Personales</p>
                        <div class="progress-bar-js progress-bar-horizontal progress-bar-leather" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
